/Debug
/.vs
*.suo
*.db
*.log
*.idb
*.pdb
Debug/

HelloWin32/Debug/C_Practi.55EDC2AE.tlog/CL.command.1.tlog
HelloWin32/Debug/C_Practi.55EDC2AE.tlog/CL.read.1.tlog
HelloWin32/Debug/C_Practi.55EDC2AE.tlog/CL.write.1.tlog
HelloWin32/Debug/C_Practi.55EDC2AE.tlog/link.command.1.tlog
HelloWin32/Debug/C_Practi.55EDC2AE.tlog/link.read.1.tlog
HelloWin32/Debug/C_Practi.55EDC2AE.tlog/link.write.1.tlog
HelloWin32/Debug/HelloWin32.log
HelloWin32/Debug/for_loop_examples.obj
HelloWin32/Debug/get_factorial.obj
HelloWin32/Debug/main.obj
HelloWin32/Debug/test.obj
HelloWin32/Debug/vc141.idb
HelloWin32/Debug/vc141.pdb
HelloWin32/HelloWin32.vcxproj
HelloWin32/HelloWin32.vcxproj.filters
HelloWin32/HelloWin32.vcxproj.user
HelloWin32/Debug/